*{
  font-family: Varela Round,Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--slate);
  text-decoration: none;
  list-style:none;
}
:root {
  --slate: #183153;
  --icon: #616D8A;
  --blue: rgb(14, 159, 255);
}
body{
  height: 100%;
  width: 100%;
}
.hero-section{
  height: 100vh;
  weight: 100%;
}
.nav{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-elements{
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon);
  border-radius: 50px;
}
.logo{
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo h2{
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
.nav-links{
  width: 45%;
  height: 100%;
}
.nav-links ul{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links ul li{
  padding: 20px;
  text-transform: capitalize;
}
/* nav ended */
/* main started */
.main{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-wrapper{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.announcement{
  width: 60%;
  height: 7%;
  text-align: center;
  border: 1px solid var(--icon);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
}
.announcement p{
  font-weight: 500;
  font-size: 14px;
}
.announcement a{
  text-transform: capitalize;
  color: var(--blue);
  font-weight: 600;
}
.announcement .fa-arrow-right-long{
  color: var(--blue);
}
.greetings{
  width: 100%;
  height: 10%;
  background-color: yellow;
}
.my-name{
  width: 100%;
  height: 20%;
  background-color: green;
}
.qualificattaion{
  width: 100%;
  height: 10%;
  background-color: blue;
}
.cta{
  width: 100%;
  height: 10%;
  background-color: purple;
}