* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondry-color);
  font-family: poppins,Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: #75ccff;
  --secondry-color: #272727;
  --white: #ffffff;
}
.main {
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: relative;

}
.first-bg-color{
  background: var(--primary-color);
  height: 100%;
  width: 100%;
}
.navbar {
  height: 60px;
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 40px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--secondry-color);
  border-radius: 50px;
}

.nav__logo {
  font-size: 18px;
  margin: auto 1rem;
}

.nav__menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav__menu ul li {
  list-style: none;
}
.nav__menu ul li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}
.nav__menu li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.nav__hamburger {
  width: 1.875rem;
  height: 1.313rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav__hamburger__line {
  height: 0.188rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}
/* navbar end */
/* info started*/
.info-area {
  background: #b12424;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info{
  width: 200px;
  height: 200px;
  background: var(--secondry-color);
}
/* about sectation */
.about-sectation {
  height: 100vh;
  width: 100%;
  background-color: #9d2020;
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  .nav__hamburger {
    display: flex;
  }
  .nav__menu {
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    top: -20rem;
    width: 70%;
    transition: all ease-in-out 0.4s;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__menu ul {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0.6rem;
  }
  .nav__menu ul li {
    text-align: center;
  }
  .nav__menu ul li a {
    padding: 0.5rem;
  }
  .nav__menu {
    z-index: -1;
  }
  .nav__menu.active {
    top: 0;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
