*{
  font-family: Varela Round,Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--slate);
  text-decoration: none;
  list-style:none;
}
:root {
  --slate: #183153;
  --icon: #616D8A;
  --blue: #0e9fff;
}
body{
  height: 100%;
  width: 100%;
}
.hero-section{
  height: 100vh;
  weight: 100%;
}
.nav{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-elements{
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon);
  border-radius: 50px;
}
.logo{
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo h2{
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
.nav-links{
  width: 45%;
  height: 100%;
}
.nav-links ul{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links ul li{
  padding: 20px;
  text-transform: capitalize;
}
/* nav ended */
/* main started */
.main{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-wrapper{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.announcement{
  width: 60%;
  height: 7%;
  text-align: center;
  border: 1px solid var(--icon);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
}
.announcement p{
  font-weight: 500;
  font-size: 14px;
}
.announcement a{
  text-transform: capitalize;
  color: var(--blue);
  font-weight: 600;
}
.announcement .fa-arrow-right-long{
  color: var(--blue);
}
.greetings{
  width: 60%;
  height: 8%;
}
.greetings h3{
  font-size: 20px;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: 500;
}
.my-name{
  width: 60%;
  height: 13%;
  display: flex;
  align-items: center;
}
.my-name h1{
  text-transform: capitalize;
  font-size: 60px;
  font-family: Poppins;
  color: var(--blue);
}
.qualificattaion{
  width: 60%;
  height: 10%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qualificattaion .still{
  width: 30%;
  height: 100%;
  background-color: lightblue;
}
.qualificattaion .moveing{
  width: 70%;
  height: 100%;
  background-color: rgb(14, 40, 49);
}
.cta{
  width: 60%;
  height: 10%;
  background-color: purple;
}